

@import url("https://fs.getcourse.ru/fileservice/file/download/a/78058/sc/184/h/d4034337e71cf3d1285b4e323e1fccf4.css");

/*@font-face {
font-family: 'CAT Linz';
    src: local('CAT Linz'),
        url('/fileservice/file/download/a/78058/sc/197/h/2c3d0428416bd7a0686dff1b927e57fb.woff2') format('woff2'),
         url('/fileservice/file/download/a/78058/sc/100/h/4ef33296dacf86107524517fc22f1f71.woff') format('woff'),
         url('/fileservice/file/download/a/78058/sc/386/h/b72ce065d8f0be8b818d8167dcca1bce.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}*/
